In [1]:
###################################################################################
# Course : Data Preparation
# Course code: DSC540
# Weeks: 11 and 12
# Script name : DSC540_Shekhar_Week11&12.ipynb
# Created Date : May 11th 2023
# Created By : Manish Shekhar
###################################################################################

# Activity 11 : Retrieving data correctly from databases

### 1. Connect to petsDB

In [5]:
# import libraries
import sqlite3

In [6]:
# create connection object 
conn = sqlite3.connect("petsdb")

### 2. Write a function to check if connection was successful

In [7]:
# function to make sure connection is successful
def is_opened(conn):
    try:
        conn.execute("select * from persons limit 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

# call the function print the return
print(is_opened(conn))

True

### 3. Close the connection

In [8]:
conn.close()

### 4. Check whether the connection is open or close

In [9]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### 5. Find out different age groups in the persons database

In [10]:
# create connection object
conn = sqlite3.connect("petsdb")

In [11]:
# create cursor
c = conn.cursor()

### 6. Loop throigh cursor and execute

In [13]:
# Execute following command
for ppl, age in c.execute("select count(*), age from persons group by age"):
    print("We have {} people of age {}".format(ppl,age))

We have 2 people of age 5
We have 1 people of age 6
We have 1 people of age 7
We have 3 people of age 8
We have 1 people of age 9
We have 2 people of age 11
We have 3 people of age 12
We have 1 people of age 13
We have 4 people of age 14
We have 2 people of age 16
We have 2 people of age 17
We have 3 people of age 18
We have 1 people of age 19
We have 3 people of age 22
We have 2 people of age 23
We have 3 people of age 24
We have 2 people of age 25
We have 1 people of age 27
We have 1 people of age 30
We have 3 people of age 31
We have 1 people of age 32
We have 1 people of age 33
We have 2 people of age 34
We have 3 people of age 35
We have 3 people of age 36
We have 1 people of age 37
We have 2 people of age 39
We have 1 people of age 40
We have 1 people of age 42
We have 2 people of age 44
We have 2 people of age 48
We have 1 people of age 49
We have 1 people of age 50
We have 2 people of age 51
We have 2 people of age 52
We have 2 people of age 53
We have 2 people of age 54
We have 1 people of age 58
We have 1 people of age 59
We have 1 people of age 60
We have 1 people of age 61
We have 2 people of age 62
We have 1 people of age 63
We have 2 people of age 65
We have 2 people of age 66
We have 1 people of age 67
We have 3 people of age 68
We have 1 people of age 69
We have 1 people of age 70
We have 4 people of age 71
We have 1 people of age 72
We have 5 people of age 73
We have 3 people of age 74

### 7. Find out which age group has highest number of people

In [16]:
# get age group having highest number of people
for ppl, age in c.execute("select count(*), age from persons group by age order by count(*) desc"):
    print("Highest number of people is {} and came from {} age group".format(ppl, age))
    break

Highest number of people is 5 and came from 73 age group

### 8. Find out how many people do not have a full name (last name is blank/null)

In [20]:
# Get the number of people who have null or blank in last name
res = c.execute("select count(*) from persons where last_name is null or trim(last_name) == ''")

for row in res:
    print(row)

(60,)

### 9. How many people have more than one pet

In [24]:
# Get total number of owners who had more than one pet
res = c.execute("select count(*) from (select count(owner_id) from pets group by owner_id having count(owner_id) > 1)")

for row in res:
    print("{} people have more than one pet".format(row[0]))

43 people have more than one pet

### 10. How many pets have received treatment

In [25]:
# Get total number of pets who received treatment
res = c.execute("select count(*) from pets where treatment_done = 1")

for row in res:
    print(row)

(36,)

### 11. To find out how many pets have received treatment where type of pet is known

In [27]:
# To see number of pets that received treatment with known pet type
res = c.execute("select count(*) from pets where treatment_done = 1 and pet_type is not null")

for row in res:
    print(row)

(16,)

### 12. How many pets are from city called "east port"

In [28]:
# To know how many pets are from city called "east port"
res = c.execute("select count(*) from pets join persons on pets.owner_id = persons.id where persons.city = 'east port'")

for row in res:
    print(row)

(49,)

### 13. How many pets are from city 'east port' and received treatment

In [29]:
# how to many pets are from 'east port' and received treatment
res = c.execute("select count(*) from pets join persons on pets.owner_id = persons.id where persons.city = 'east port' and pets.treatment_done = 1")

for row in res:
    print(row)

(11,)