# Milestone 1

### Dataset Details

#### Dataset 1:
Netflix movies and shows dataset from Kaggle - Netflix is one of the most popular media and video streaming platforms. They have over 8000 movies or tv shows available on their platform, as of mid-2021, they have over 200M Subscribers globally. This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc. This is CSV file downloaded from Kaggle.

#### Dataset 2:
IMDB's top 250 movie data using web scraping - IMDB ranks movies and given them score. This dataset is published on IMDB website that includes top 250 movies of all time according to them. using Python's Beatifulsoup library to webscrape and json parsing to get the information parsed out to build the dataset. There are 250 movie records.

#### Dataset 3:
Movie Torrents for top 100 monthly movies from Movies, TV, Music, Search, and, Download API -  Movie, TV, music search and download provides API connections to download torrent links for monthly top 100 movies, monthly top 100 tv shows, monthly top 100 music videos, monthly top 100 games torrent etc.

#### Dataset 4: 
Movie details using OMDB API - Getting movie details, actors, awards, DVD release date, Rating Scores from Rotten Tomatoes and IMDb, box office revenue etc. API returns 25 attributes about a movie. For 250 top movies from IMDB I am calling this API in loop to get details for every movie by passing movie name and the year of release. There are total 250 records.

### Relationship between datasets
Dataset-4 (OMDB) and dataset-2 (IMDB) we have "imdb id" to join on. 

Dataset-1 (Netflix) and Dataset-3 (Torrent) can be connected on movie title. Need to be careful here as Torrent dataset has more than one record per movie title. I am thinking to get that to one record per movie with an array of torrent links and count of torrents available as derived fields. Doing that grouping by movie titles will bring the Torremt dataset to same granularity level as that of Netflix dataset.

Above two resulting datasets can then be connected using "movie title" and "year". While doing join I will be careful about case of movie titles, any special characters or white spaces, format of year etc to make sure all our join conditions pass and get a corresponding row.

### Project Subject Area
Project is about analysing details of top movies in the US. Analysis that I am interested in are - 
1. Distribution of Domestic vs Foreign movies with respect to awards through time
2. Most popular genre of movies both domestic and foreign
3. Does box office revenue correlates with awards?
4. Popularity trend of shows vs movies on Netflix
5. Duration trend of movies through time - have movies been shorter through the time?
6. Popular movies by numbner of torrents created
7. Actors/Actresses by award counts through time

### What will it take to accomplish 5 final project milestones?
1. Data quality improvement - i.e. outlier detection and remediation, data formatting changes etc.
3. Data integration from different sources
4. Handling data granularity while joining different data sets together - This may need grouping certain datasets while creating aggregated metrics before joining it to other datasets.
5. Establishing connection to the chosen database / RDBMS.
6. Creating table(s) to store the data gathered.
7. Load the data into tables.
8. Create all thought about data visualizations and document the trends, observations etc.
9. Capture comments wherever applicable.
10. Have saved copies of all datasets at different stages including python scripts with glimpse into data, data base tables, visualizations in python scripts or any visualization tools.
11. Push all the changes to GIT repo, provide needed links etc during final submission.

### Ethical implications and challenges
Well, there is a lot of ethical implications that movies have on human mind, his/her development of thoughts, influencing changes in behavior etc. For e.g. some movies show violence in raw form which can leave one distressed and thinking about it for long time. In terms of project at hand any analysis is not an attemp to influence or provide guidance to watch certain types of movies but instead look at the trend and build understanding of this space with data.

As of now I do not see a lot of challenge with this project. Said that data needs to cleaned, integrated, and stored.

# Dataset 1: Netflix movies and shows

### Dataset description: 
About this Dataset: Netflix is one of the most popular media and video streaming platforms. They have over 8000 movies or tv shows available on their platform, as of mid-2021, they have over 200M Subscribers globally. This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc.

### Data Source:
Kaggle
https://www.kaggle.com/datasets/shivamb/netflix-shows

### Metadata:
1. show_id: Unique ID for every Movie / Tv Show (String)
2. type: Identifier - A Movie or TV Show (String)
3. title: Title of the Movie / Tv Show (String)
4. director: Director Name (String)
5. cast: Actors involved in the movie / show [comma separated] (String)
6. country: Country where the movie / show was produced (String)
7. date_added: Date it was added on Netflix (Date)
8. release_year: Actual Release year of the move / show (Number)
9. rating: TV Rating of the movie / show (String)
10. duration: Total Duration - in minutes or number of seasons (String)
11. listed_in: Genre (String)
12. description: The summary description (String)

In [4]:
# Read the downloaded data file into pandas dataframe
df_netflix = pd.read_csv("netflix_titles.csv")

In [5]:
# check the data 
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

# Dataset 2: Using webscraping to get movies and their ratings from IMDB website

### Dataset description:
IMDB ranks movies and given them score. This dataset is published on IMDB website that includes top 250 movies of all time according to them.

### Data Source:
https://www.imdb.com/chart/top

### Metadata:
1. rank: Rank as given by IMDB (number)
2. title: Title or name of the movie (String)
3. rating: Rating or score given to the movie (Float)
4. year: Release year of the movie (Number)
5. cast: Actors names in the movie separated by columns (String)

In [6]:
# import all needed libraries
from requests import get
from bs4 import BeautifulSoup
from warnings import warn
from time import sleep
from random import randint
import numpy as np
import seaborn as sns
import re

In [7]:
# Downloading imdb top 250 movie's data while web scraping
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
 
 
 
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
     
    # Separating movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"rank": place,
            "title": movie_title,
            "rating": ratings[index],
            "year": year,
            "cast": crew[index],
            }
    list.append(data)


# Read and store as a data frame
df_top_imdb_movies = pd.DataFrame(list)
df_top_imdb_movies.head()

,rank,title,rating,year,cast
0,1,The Shawshank Redemption,9.235861471887734,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,2,The Godfather,9.155775127561267,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,3,The Dark Knight,8.992000290224833,2008,"Christopher Nolan (dir.), Christian Bale, Heat..."
3,4,The Godfather Part II,8.983827887722182,1974,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
4,5,12 Angry Men,8.953504584110382,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"

# Dataset 3: Get Monthly Top 100 Movies Torrents from Movie, TV, music search and download

### Dataset Description:
Movie, TV, music search and download provides API connections to download torrent links for monthly top 100 movies, 
monthly top 100 tv shows, monthly top 100 music videos, monthly top 100 games torrent etc.

### Data Source:
1. API link accessed through rapidapi - movie-tv-music-search-and-download.p.rapidapi.com

### Metadata:
1. Title - Title or Name of the movie (String)
2. Torrent - Torrent link (String)
3. Size - Torrent size (String)
4. Rank - Torrent Rank

In [98]:
import requests

url = "https://movie-tv-music-search-and-download.p.rapidapi.com/monthly_top100_movies"

headers = {
	"X-RapidAPI-Key": "36a03a312bmshec916da8f40801cp12d965jsn00140a4bcf30",
	"X-RapidAPI-Host": "movie-tv-music-search-and-download.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)

In [99]:
# import json
import json

# load API calls response into a json object
response_json = json.loads(response.text)

# instantiate an empty list
list = []

# loop through each json result and parse response json to get title, torrent, and torrent size 
# for each parsed result keep appending into a list
for data in response_json['result']:
    title = (data['title'].split('(')[0]).encode('utf-8').decode('utf-8')
    title = title.split('2022')[0]
    title = (title.split('2023')[0]).strip()
    torrent = data['torrent']
    size = data['size']
    
    data = {"title": title,
            "torrent_link": torrent,
            "size_of_torrent_file": size
    }
    
    list.append(data)

In [100]:
# Read into a data frame
df_movies_torrent = pd.DataFrame(list)
df_movies_torrent.head()

,title,torrent_link,size_of_torrent_file
0,Shazam! Fury of the Gods,https://itorrents.org/torrent/C7BAD62F1380EFCD...,2.4 GB
1,Avatar The Way of Water,https://itorrents.org/torrent/8BA89A34225442B0...,3.55 GB
2,65,https://itorrents.org/torrent/617806EA35799F16...,1.71 GB
3,Ant-Man and the Wasp Quantumania,https://itorrents.org/torrent/662F65C7CD61A2FA...,2.36 GB
4,Creed III,https://itorrents.org/torrent/5E197437EC43CB71...,2.15 GB

# Dataset 4: Getting movie details, actors, awards, DVD release date, Rating Scores from Rotten Tomatoes and IMDb, box office revenue etc using OMDB API

### Dataset Description:
The OMDb API is a RESTful web service to obtain movie information.

### Data Source:
1. OMDB API accessed using python requests library - 'http://www.omdbapi.com/?apikey='+API_KEY+'&t='+title+'&y='+year

### Metadata:
1. Title - Title or Name of the movie (String)
2. Year - Movie release Year (Number)
3. Rated - PG rating (String)
4. Released - Release date (Date)
5. Runtime - run time (String)
6. Genre - Array of Genre (Array of Strings)
7. Director - Array of Names of Directors (Array of Strings)
8. Writer - Array of Names of writers (Array of Strings)
9. Actors - Array of Names of writers (Array of Strings)
10. Plot - plot/ story (String)
11. Language - release language (String)
12. Country - Release country (String)
13. Awards - Array of award strings (Array of strings)
14. Poster - Link to movie poster (String)
15. Ratings - Array of ratings from different sources (Array of strings / json). Can be parsed out into separate columns.
16. Metascore - Metascore (Number)
17. imdbRating - IMDB rating (float)
18. imdbVotes - votes on imdb (Number)
19. imdbID - unique imdbID (String)
20. Type - Movie or something else i.e. OTT, music video etc (String)
21. DVD - DVD release date (Date)
22. Box office - revenue (String)
23. Production - Production house (String)
24. Website - Website (String)
25. Response - Response (String)

In [16]:
# importing all required libraries
import requests
import pandas as pd

In [17]:
# omdb api key
API_KEY = "fcd8bac6"

In [18]:
# Testing the API for one movie and it's release year
title = 'Avatar'
year = '2009'

# Calling the API and storing json response
movieInfo = requests.get('http://www.omdbapi.com/?apikey='+API_KEY+'&t='+title+'&y='+year).json()
movieInfo

{'Title': 'Avatar',
 'Year': '2009',
 'Rated': 'PG-13',
 'Released': '18 Dec 2009',
 'Runtime': '162 min',
 'Genre': 'Action, Adventure, Fantasy',
 'Director': 'James Cameron',
 'Writer': 'James Cameron',
 'Actors': 'Sam Worthington, Zoe Saldana, Sigourney Weaver',
 'Plot': 'A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.',
 'Language': 'English, Spanish',
 'Country': 'United States',
 'Awards': 'Won 3 Oscars. 89 wins & 131 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BZDA0OGQxNTItMDZkMC00N2UyLTg3MzMtYTJmNjg3Nzk5MzRiXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '82%'},
  {'Source': 'Metacritic', 'Value': '83/100'}],
 'Metascore': '83',
 'imdbRating': '7.9',
 'imdbVotes': '1,332,344',
 'imdbID': 'tt0499549',
 'Type': 'movie',
 'DVD': '22 Apr 2010',
 'BoxOffice': '$785,221,649',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [19]:
# For each imdb movie in it's top 250 list pull aditional details using above omdb api
list = []

for index, movie in df_top_imdb_movies.iterrows():
    title = movie['title']
    year = movie['year']
    # Call omdb api for each movie and it's release year to get additional info from omdb
    movieInfo = requests.get('http://www.omdbapi.com/?apikey='+API_KEY+'&t='+title+'&y='+year).json()
    
    # Append returned info in the list
    list.append(movieInfo)

In [21]:
# Read and store as a data frame
pd.set_option('display.max_columns', None)
df_omdb_movie_details = pd.DataFrame(list)
df_omdb_movie_details.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,Drama,Frank Darabont,"Stephen King, Frank Darabont","Tim Robbins, Morgan Freeman, Bob Gunton","Over the course of several years, two convicts...",English,United States,Nominated for 7 Oscars. 21 wins & 43 nominatio...,https://m.media-amazon.com/images/M/MV5BNDE3OD...,"[{'Source': 'Internet Movie Database', 'Value'...",82,9.3,"2,718,502",tt0111161,movie,21 Dec 1999,"$28,767,189",N/A,N/A,True
1,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola","Marlon Brando, Al Pacino, James Caan",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",United States,Won 3 Oscars. 32 wins & 31 nominations total,https://m.media-amazon.com/images/M/MV5BM2MyNj...,"[{'Source': 'Internet Movie Database', 'Value'...",100,9.2,"1,891,559",tt0068646,movie,11 May 2004,"$136,381,073",N/A,N/A,True
2,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer","Christian Bale, Heath Ledger, Aaron Eckhart",When the menace known as the Joker wreaks havo...,"English, Mandarin","United States, United Kingdom",Won 2 Oscars. 161 wins & 163 nominations total,https://m.media-amazon.com/images/M/MV5BMTMxNT...,"[{'Source': 'Internet Movie Database', 'Value'...",84,9.0,"2,695,333",tt0468569,movie,09 Dec 2008,"$534,987,076",N/A,N/A,True
3,The Godfather Part II,1974,R,18 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo","Al Pacino, Robert De Niro, Robert Duvall",The early life and career of Vito Corleone in ...,"English, Italian, Spanish, Latin, Sicilian",United States,Won 6 Oscars. 17 wins & 21 nominations total,https://m.media-amazon.com/images/M/MV5BMWMwMG...,"[{'Source': 'Internet Movie Database', 'Value'...",90,9.0,"1,290,581",tt0071562,movie,24 May 2005,"$47,834,595",N/A,N/A,True
4,12 Angry Men,1957,Approved,10 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,Reginald Rose,"Henry Fonda, Lee J. Cobb, Martin Balsam",The jury in a New York City murder trial is fr...,English,United States,Nominated for 3 Oscars. 17 wins & 13 nominatio...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,"[{'Source': 'Internet Movie Database', 'Value'...",97,9.0,"803,154",tt0050083,movie,04 Mar 2008,N/A,N/A,N/A,True

# Milestone 2
### Performing 5 transformations on the flat file data, in my case Netflix data or dataset 1

In [23]:
# Replace Headers
# Format data into a more readable format
# Identify outliers and bad data
# Find duplicates
# Fix casing or inconsistent values
# Conduct Fuzzy Matching

In [39]:
# check count of records
df_netflix.show_id.count()

8807

In [40]:
# check the data and count
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### Transformation 1: As all my other datasets are movie datasets, I do not really need data for "TV Show". Filtering it out and keeping only Movie data.

In [33]:
# Keep only Movie data
df_netflix_movies = df_netflix[df_netflix['type']=='Movie']

# check the data
df_netflix_movies.show_id.count()

6131

In [37]:
# check unique values in Movie column to make sure it only has Movie data
df_netflix_movies['type'].unique()

array(['Movie'], dtype=object)

### Transformation 2: Derive is_long_movie if length of movie is more than 100 minutes then 1 else 0

In [51]:
df_netflix_movies['duration'].unique()

array(['90 min', '91 min', '125 min', '104 min', '127 min', '67 min',
       '94 min', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '110 min', '105 min', '96 min',
       '124 min', '116 min', '98 min', '23 min', '115 min', '122 min',
       '99 min', '88 min', '100 min', '102 min', '93 min', '95 min',
       '85 min', '83 min', '113 min', '13 min', '182 min', '48 min',
       '145 min', '87 min', '92 min', '80 min', '117 min', '128 min',
       '119 min', '143 min', '114 min', '118 min', '108 min', '63 min',
       '121 min', '142 min', '154 min', '120 min', '82 min', '109 min',
       '101 min', '86 min', '229 min', '76 min', '89 min', '156 min',
       '112 min', '107 min', '129 min', '135 min', '136 min', '165 min',
       '150 min', '133 min', '70 min', '84 min', '140 min', '78 min',
       '64 min', '59 min', '139 min', '69 min', '148 min', '189 min',
       '141 min', '130 min', '138 min', '81 min', '132 min', '123 min',
       '65 min', '68 min', '66 min', '62 min', '74 min', '131 min',
       '39 min', '46 min', '38 min', '126 min', '155 min', '159 min',
       '137 min', '12 min', '273 min', '36 min', '34 min', '77 min',
       '60 min', '49 min', '58 min', '72 min', '204 min', '212 min',
       '25 min', '73 min', '29 min', '47 min', '32 min', '35 min',
       '71 min', '149 min', '33 min', '15 min', '54 min', '224 min',
       '162 min', '37 min', '75 min', '79 min', '55 min', '158 min',
       '164 min', '173 min', '181 min', '185 min', '21 min', '24 min',
       '51 min', '151 min', '42 min', '22 min', '134 min', '177 min',
       '52 min', '14 min', '53 min', '8 min', '57 min', '28 min',
       '50 min', '9 min', '26 min', '45 min', '171 min', '27 min',
       '44 min', '146 min', '20 min', '157 min', '17 min', '203 min',
       '41 min', '30 min', '194 min', '233 min', '237 min', '230 min',
       '195 min', '253 min', '152 min', '190 min', '160 min', '208 min',
       '180 min', '144 min', '5 min', '174 min', '170 min', '192 min',
       '209 min', '187 min', '172 min', '16 min', '186 min', '11 min',
       '193 min', '176 min', '56 min', '169 min', '40 min', '10 min',
       '3 min', '168 min', '312 min', '153 min', '214 min', '31 min',
       '163 min', '19 min', nan, '179 min', '43 min', '200 min',
       '196 min', '167 min', '178 min', '228 min', '18 min', '205 min',
       '201 min', '191 min'], dtype=object)

In [61]:
# Check if duration has Nan
print("The column Duration contains NaN - %r " % df_netflix_movies.duration.isnull().values.any())

The column Duration contains NaN - True

In [73]:
# Suppress any warnings
import warnings
warnings.filterwarnings('ignore')

# Derive new field duration_2 as 0 duration is NaN/Null else numeric value (remove min and any whitespaces)
df_netflix_movies['duration_2'] = np.where(df_netflix_movies['duration'].isnull(), 0, ((df_netflix_movies['duration'].str.replace('min','')).str.strip()))

# Convert to numeric
df_netflix_movies['duration_2'] = pd.to_numeric(df_netflix_movies['duration_2'])

# Check data
df_netflix_movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,is_hollywood_movie,duration_2
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,90
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,0,91
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",0,125
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1,104
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,0,127

In [76]:
# derive new field is_lengthy_movie, to be 1 if length of movie is > 100 minutes else 0
df_netflix_movies['is_lengthy_movie'] = np.where(df_netflix_movies['duration_2'] > 100, 1, 0)

# check data again
df_netflix_movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,is_hollywood_movie,duration_2,is_lengthy_movie
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",1,90,0
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,0,91,0
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",0,125,1
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1,104,1
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,0,127,1

### Transformation 3: Join data sets together. Join Netflix and Torrent datasets together. Keeping Netflix dataset as driving table

In [101]:
# Joining Netflix data to Movie Torrent data
# Considering Netflix data as driving data i.e. left joining torrent data to Netflix data

# Converting all movie titles to lower case and free of whitespaces, prepping join key column
df_movies_torrent['title'] = (df_movies_torrent['title'].str.lower()).str.strip()
df_netflix_movies['title'] = (df_netflix_movies['title'].str.lower()).str.strip()

# merge or left join on key "title"
df_joined_1 = pd.merge(df_netflix_movies, df_movies_torrent, how="left", on=["title"])

### Transform 4: Check duplicates after join. Check if there is increase in count of records in before and after dataframes

In [103]:
# check the count of records before and after
df_netflix_movies['title'].count()

6131

In [104]:
df_joined_1['title'].count()

6131

In [96]:
# As counts are same we can assume safely that there are no duplicates. Check to see if there was anything that was successfully joined.

In [146]:
# check how many records have column "torrent_link as not null" as that comes from torrent data set.
df_joined_1[~df_joined_1['torrent_link'].isnull()].count()
# As there are no records that had torrent_link column as not null we did not get any join at all.
# Did spot check by selecting title names from driving netflix dataset and checking it in torrent dataset and clearly can see that there are differences 
# and thus they were not joined. Also, torrent dataset seems to have lot of dupes i.e. records for the same movie with different torrent links.

show_id                 0
type                    0
title                   0
director                0
cast                    0
country                 0
date_added              0
release_year            0
rating                  0
duration                0
listed_in               0
description             0
is_hollywood_movie      0
duration_2              0
is_lengthy_movie        0
torrent_link            0
size_of_torrent_file    0
dtype: int64

In [147]:
# spot check the data between Netflix and teh Torrent datasets
# df_joined_1.head()
df_movies_torrent['title'].head(50)

0             shazam! fury of the gods
1              avatar the way of water
2                                   65
3     ant-man and the wasp quantumania
4                            creed iii
5              avatar the way of water
6             shazam! fury of the gods
7                  john wick chapter 4
8                                   65
9           the super mario bros movie
10                           creed iii
11                              tetris
12             avatar the way of water
13                    murder mystery 2
14             shazam fury of the gods
15                   the portable door
16                   the portable door
17            shazam! fury of the gods
18                              inside
19             shazam fury of the gods
20                                  65
21                       a good person
22                                  65
23                       a good person
24                    murder mystery 2
25             avatar the way of water
26                 john wick chapter 4
27                              inside
28                              tetris
29                           creed iii
30                                  65
31                               chupa
32             avatar the way of water
33                    jesus revolution
34          the super mario bros movie
35            avatar: the way of water
36                 john wick chapter 4
37                    boston strangler
38                           champions
39                   the portable door
40                             pathaan
41             the magician's elephant
42     winnie the pooh blood and honey
43             avatar the way of water
44                 john wick chapter 4
45                             pathaan
46             shazam fury of the gods
47                 john wick chapter 4
48                              tetris
49                           creed iii
Name: title, dtype: object

In [149]:
df_netflix_movies[df_netflix_movies['title'].str.contains('avatar')]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, is_hollywood_movie, duration_2, is_lengthy_movie]
Index: []

In [151]:
df_netflix_movies[df_netflix_movies['title'].str.contains('gods')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,is_hollywood_movie,duration_2,is_lengthy_movie
1080,s1081,Movie,new gods: nezha reborn,Zhao Ji,"Yang Tianxiang, Zhang He, Xuan Xiaoming, Li Sh...",China,"April 12, 2021",2021,TV-14,118 min,"Action & Adventure, Anime Features, Internatio...",While living as an ordinary deliveryman and mo...,0,118,1

### Transform 5: Check data availability. Check how many records do not cast or director information

In [154]:
# Out of 6K records 188 do not have director info
df_joined_1[df_joined_1['director'].isnull()].count()

show_id                 188
type                    188
title                   188
director                  0
cast                    134
country                 129
date_added              188
release_year            188
rating                  187
duration                188
listed_in               188
description             188
is_hollywood_movie      188
duration_2              188
is_lengthy_movie        188
torrent_link              0
size_of_torrent_file      0
dtype: int64

In [156]:
# Out of 6K records 475 records do not have any cast info
df_joined_1[df_joined_1['cast'].isnull()].count()

show_id                 475
type                    475
title                   475
director                421
cast                      0
country                 410
date_added              475
release_year            475
rating                  475
duration                475
listed_in               475
description             475
is_hollywood_movie      475
duration_2              475
is_lengthy_movie        475
torrent_link              0
size_of_torrent_file      0
dtype: int64

In [159]:
# It will safe to filter above records out to have better data availability for analysis
df_joined_1 = df_joined_1[~df_joined_1['cast'].isnull()]
df_joined_1['title'].count()

5656

In [162]:
df_joined_1 = df_joined_1[~df_joined_1['director'].isnull()]
df_joined_1['title'].count()

df_joined_1.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,is_hollywood_movie,duration_2,is_lengthy_movie,torrent_link,size_of_torrent_file
1,s7,Movie,my little pony: a new generation,"Robert Cullen, Jos Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,0,91,0,NaN,NaN
2,s8,Movie,sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",0,125,1,NaN,NaN
3,s10,Movie,the starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,1,104,1,NaN,NaN
4,s13,Movie,je suis karl,Christian Schwochow,"Luna Wedler, Jannis Niewhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,0,127,1,NaN,NaN
5,s14,Movie,confessions of an invisible girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Jlia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tet join...,0,91,0,NaN,NaN

In [164]:
# checking info about the dataset so far
df_joined_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5522 entries, 1 to 6130
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   show_id               5522 non-null   object
 1   type                  5522 non-null   object
 2   title                 5522 non-null   object
 3   director              5522 non-null   object
 4   cast                  5522 non-null   object
 5   country               5189 non-null   object
 6   date_added            5522 non-null   object
 7   release_year          5522 non-null   int64
 8   rating                5521 non-null   object
 9   duration              5519 non-null   object
 10  listed_in             5522 non-null   object
 11  description           5522 non-null   object
 12  is_hollywood_movie    5522 non-null   int64
 13  duration_2            5522 non-null   int64
 14  is_lengthy_movie      5522 non-null   int64
 15  torrent_link          0 non-null      object
 16  size_of_torrent_file  0 non-null      object
dtypes: int64(4), object(13)
memory usage: 776.5+ KB

In [165]:
# See missing values in all columns
df_joined_1.isnull().sum()

show_id                    0
type                       0
title                      0
director                   0
cast                       0
country                  333
date_added                 0
release_year               0
rating                     1
duration                   3
listed_in                  0
description                0
is_hollywood_movie         0
duration_2                 0
is_lengthy_movie           0
torrent_link            5522
size_of_torrent_file    5522
dtype: int64